/* CSS declarations go here */


.navbar {
  height: 30px;
  padding: 3px;
}

#search input {
  width: 40vw;
  height: 30px;
}

#search-form {
  margin: 0 20vw;
}

#sign-up {
  margin-top: -30px;
}

#login-dropdown-list {
  margin-left: -200px;
}

.person-box {
  border-width: 1px;
  border-style: solid;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

/*@media (max-width: 800px) {
  #bs-example-navbar-collapse-1 {
    background: white;
  }
  #sections {
    padding-left: 15%;
  }
}*/
